{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
       <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="article-title">Order ID: {{ row['order_id'] }}</a>
            </div>
              <small class="text-muted">Order Placed: {{ row['date'] }}</small>
              <br><small class="text-muted">Buyer ID: {{ row['buyer_id'] }}</small></br>
              <small class="text-muted">Item: {{ row['item_desc']}}</small>
              <br><small class="text-muted">Quantity Ordered: {{ row['qtyOrdered'] }}</small></br>
              <small class="text-muted">Total Sale: {{ row['sales'] }}</small>
            </div>		  	  
        </article>
     {% endfor %}
{% endblock content %}

{% block sidebar%}
<div class="content-section">
    <h3>Buyers</h3>
    <p class='text-muted'>
      <ul class="list-group">
        {% for buyer in buyers %}
          <li class="list-group-item list-group-item-light">{{ buyer.buyer_id }} - {{ buyer.name }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock sidebar %}