{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['item_id'] }}  {{ row['name'] }}</small>		  
            </div>
			<h2><a class="article-title" href="#">{{ row.name }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}

{% block sidebar %}
<div class="content-section">
  <h3>Vendors</h3>
  <p class='text-muted'>Vendors that provide the materials for your work.
    <ul class="list-group">
      {% for vendor in vendors %}
        <li class="list-group-item list-group-item-light">{{vendor.name}}</li>
      {% endfor %}
    </ul>
  </p>
</div>
{% endblock sidebar %}