{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
       <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['project_id'] }}  {{ row['item_name'] }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('inve', project_id=row.project_id) }}">{{ row.item_desc }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}

{% block sidebar%}
<div class="content-section">
    <h3>Inventory Item Previous Sales</h3>
    <p class='text-muted'>
      <ul class="list-group">
        {% for num in nums %}
			<li class="list-group-item list-group-item-light">{{ num.item_desc }}: {{ num.numOfOrders }} Sale</li>
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock sidebar %}