{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="article-title" >{{ inve.project_id }} {{ inve.item_desc }}</a>
		</div>
		<small class="text-muted">Quantity On Hand: {{ inve.qtyOnHand }}</small>
        <br><small class="text-muted">Sell Price: ${{ inve.sell_price }}</small></br>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('sell', project_id=inve.project_id) }}">Add to Order</a>
    </div>
  </article>
{% endblock content %}