{% extends "layout.html" %}
{% block content %}
	  {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('assign', essn=row.essn, pno=row.pno) }}">{{ row.fname }} {{ row.lname }} ({{ row.ssn}})</a> <br/>
              <small class="text-muted">Project: {{ row.pname }} ({{ row.pnumber }})</small>
            </div>
           
          </div>
        </article>
     {% endfor %}
	
{% endblock content %}